footer { 
    background-color: $colorFooter;
    margin-top: 10px;
    }
@mixin propiedadesPrincipales ($txd,$col) {
    text-decoration: $txd;
    color: $col;
    
} 
div { /*se dio estilo al a*/
    a {
        @include propiedadesPrincipales(none,$colorLetras )  
    }
    }

