@import "_variables";
@import "_generales";
@import "_animaciones";
@import "_nav";
@import "_ubicacion";
@import "_formulario";
@import "_card";
@import "_botones";
@import "_footer";

.inicio {
    background-color: map-get($estilos, color);
    font-family: "roboto","sans serif","calibri";
    color: $colorLetras;        
}
.bienvenida {
            img {
        width: 700px;
		}
            p {
            font-size: map-get($estilos , font-size );
            padding: 1rem;
        }
	}
    
section {
	/*para darle tamaño a los párrafos de los section*/
	p {
		font-size: x-large;
	}
}	
.bienvenida img {
	margin: 5px;
	padding: 5px;
}
